In [86]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import OneHotEncoder

In [87]:
data = pd.read_csv('salesReport.csv')
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,KAMAK ASSOCIATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LIST OF Items PERIOD FROM 01-04-2024 TO 14-1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,S.No,Item Code,Item Name,Group,Brand,Model,MRP,Net Sal Qty,Close Qty,Close Val
4,1,AC1,AIR CONDITIONER,Primary,Primary,Primary,5000,NaN,2,NaN

In [88]:
data.columns = ['S.No',	'Item Code','Item Name','Group','Brand','Model','MRP','Net Sal Qty','Close Qty','Close Val']
data = data.drop([0,1,2,3])

In [89]:
data.head()

,S.No,Item Code,Item Name,Group,Brand,Model,MRP,Net Sal Qty,Close Qty,Close Val
4,1,AC1,AIR CONDITIONER,Primary,Primary,Primary,5000,NaN,2,NaN
5,2,OP-11-S,BATHSENSE OP-11-S SINGLE PIECE S TRAP 220MM,SANITARY,ESS ESS,Primary,9750,7,2,NaN
6,3,OP-14-S,BATHSENSE OP-14-S SINGLE PIECE S TRAP 225MM,SANITARY,ESS ESS,Primary,9750,NaN,3,NaN
7,4,WT22,BOTTLE TRAP,CP,WATER-TEC,Primary,523,23,4,1195.2
8,5,CS04,CARYSIL BIG BOWL SINK NERA 24x18,SANITARY,CARYSIL,BIG BOWL,11550,14,2,12712.02

In [90]:
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737 entries, 4 to 740
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   S.No         736 non-null    object
 1   Item Code    736 non-null    object
 2   Item Name    736 non-null    object
 3   Group        736 non-null    object
 4   Brand        736 non-null    object
 5   Model        736 non-null    object
 6   MRP          737 non-null    object
 7   Net Sal Qty  383 non-null    object
 8   Close Qty    737 non-null    object
 9   Close Val    566 non-null    object
dtypes: object(10)
memory usage: 28.9+ KB
None
       S.No Item Code        Item Name Group      Brand    Model   MRP  \
count   736       736              736   736        736      736   737
unique  736       736              736     7         14      237   495
top       1       AC1  AIR CONDITIONER    CP  PARRYWARE  Primary  2000
freq      1         1                1   367        344      197     8

       Net Sal Qty Close Qty Close Val
count          383       737       566
unique          76        35       550
top              1         1   1375.00
freq            63       285         3

In [91]:
data.drop_duplicates(inplace=True)
print(data.isnull().sum())

S.No             1
Item Code        1
Item Name        1
Group            1
Brand            1
Model            1
MRP              0
Net Sal Qty    354
Close Qty        0
Close Val      171
dtype: int64

In [92]:
data.head()

,S.No,Item Code,Item Name,Group,Brand,Model,MRP,Net Sal Qty,Close Qty,Close Val
4,1,AC1,AIR CONDITIONER,Primary,Primary,Primary,5000,NaN,2,NaN
5,2,OP-11-S,BATHSENSE OP-11-S SINGLE PIECE S TRAP 220MM,SANITARY,ESS ESS,Primary,9750,7,2,NaN
6,3,OP-14-S,BATHSENSE OP-14-S SINGLE PIECE S TRAP 225MM,SANITARY,ESS ESS,Primary,9750,NaN,3,NaN
7,4,WT22,BOTTLE TRAP,CP,WATER-TEC,Primary,523,23,4,1195.2
8,5,CS04,CARYSIL BIG BOWL SINK NERA 24x18,SANITARY,CARYSIL,BIG BOWL,11550,14,2,12712.02

In [93]:
data.fillna(0, inplace=True)

In [94]:
data.head()

,S.No,Item Code,Item Name,Group,Brand,Model,MRP,Net Sal Qty,Close Qty,Close Val
4,1,AC1,AIR CONDITIONER,Primary,Primary,Primary,5000,0,2,0
5,2,OP-11-S,BATHSENSE OP-11-S SINGLE PIECE S TRAP 220MM,SANITARY,ESS ESS,Primary,9750,7,2,0
6,3,OP-14-S,BATHSENSE OP-14-S SINGLE PIECE S TRAP 225MM,SANITARY,ESS ESS,Primary,9750,0,3,0
7,4,WT22,BOTTLE TRAP,CP,WATER-TEC,Primary,523,23,4,1195.2
8,5,CS04,CARYSIL BIG BOWL SINK NERA 24x18,SANITARY,CARYSIL,BIG BOWL,11550,14,2,12712.02

In [95]:
df= data

In [96]:
df['Sales Quantity'] = df['Net Sal Qty']  # Already exists in your dataset

In [97]:
df['Current Stock Level'] = df['Close Qty']  # Already exists in your dataset

In [98]:
df['Sales Revenue'] = df['Net Sal Qty'] * df['MRP']

<class 'TypeError'>: can't multiply sequence by non-int of type 'str'

In [99]:
print(df.dtypes)

S.No                   object
Item Code              object
Item Name              object
Group                  object
Brand                  object
Model                  object
MRP                    object
Net Sal Qty            object
Close Qty              object
Close Val              object
Sales Quantity         object
Current Stock Level    object
dtype: object

In [100]:
df['Net Sal Qty'] = pd.to_numeric(df['Net Sal Qty'], errors='coerce')
df['MRP'] = pd.to_numeric(df['MRP'], errors='coerce')

In [101]:
print(df.isna().sum())

S.No                   0
Item Code              0
Item Name              0
Group                  0
Brand                  0
Model                  0
MRP                    0
Net Sal Qty            2
Close Qty              0
Close Val              0
Sales Quantity         0
Current Stock Level    0
dtype: int64

In [102]:
df['Net Sal Qty'].fillna(0, inplace=True)
df['MRP'].fillna(0, inplace=True)

<ipython-input-102-fcf730bc1d5e>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Net Sal Qty'].fillna(0, inplace=True)
<ipython-input-102-fcf730bc1d5e>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MRP'].fillna(0, inplace=True)

In [103]:
df['Sales Revenue'] = df['Net Sal Qty'] * df['MRP']

In [104]:
df['Stock Turnover Rate'] = df['Sales Quantity'] / df['Current Stock Level']

<class 'TypeError'>: unsupported operand type(s) for /: 'int' and 'str'

In [105]:
print(df[['Sales Quantity', 'Current Stock Level']].dtypes)

Sales Quantity         object
Current Stock Level    object
dtype: object

In [106]:
df['Sales Quantity'] = pd.to_numeric(df['Sales Quantity'], errors='coerce')
df['Current Stock Level'] = pd.to_numeric(df['Current Stock Level'], errors='coerce')

In [107]:
print(df[['Sales Quantity', 'Current Stock Level']].isna().sum())

Sales Quantity         2
Current Stock Level    2
dtype: int64

In [108]:
df['Sales Quantity'].fillna(0, inplace=True)
df['Current Stock Level'].fillna(0, inplace=True)

<ipython-input-108-5d48d4e250bd>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sales Quantity'].fillna(0, inplace=True)
<ipython-input-108-5d48d4e250bd>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Current Stock Level'].fillna(0, inplace=True)

In [109]:
df['Stock Turnover Rate'] = df['Sales Quantity'] / df['Current Stock Level']

In [110]:
df['Average Sale Price'] = df['Sales Revenue'] / df['Sales Quantity']

In [111]:
df['Days to Sell Inventory'] = df['Current Stock Level'] / (df['Sales Quantity'] / 365)

In [112]:
# Sample DataFrame creation (replace with your actual data)
data = {
    'S.No': [1, 2, 3, 4, 5],
    'Item Code': ['AC1', 'OP-11-S', 'OP-14-S', 'WT22', 'CS04'],
    'Item Name': ['AIR CONDITIONER', 
                  'BATHSENSE OP-11-S SINGLE PIECE S TRAP 220MM', 
                  'BATHSENSE OP-14-S SINGLE PIECE S TRAP 225MM', 
                  'BOTTLE TRAP', 
                  'CARYSIL BIG BOWL SINK NERA 24x18'],
    'Group': ['Primary', 'SANITARY', 'SANITARY', 'CP', 'SANITARY'],
    'Brand': ['Primary', 'ESS ESS', 'ESS ESS', 'WATER-TEC', 'CARYSIL'],
    'Model': ['Primary', 'Primary', 'Primary', 'Primary', 'BIG BOWL'],
    'MRP': [5000, 9750, 9750, 523, 11550],
    'Net Sal Qty': [2, 7, 3, 23, 14],
    'Close Qty': [2, 0, 3, 4, 2],
    'Close Val': [0, 1195.2, 0, 1195.2, 12712.02]
}

df = pd.DataFrame(data)

# Feature engineering
df['Sales Quantity'] = df['Net Sal Qty']
df['Current Stock Level'] = df['Close Qty']
df['Sales Revenue'] = df['Sales Quantity'] * df['MRP']
df['Stock Turnover Rate'] = df['Sales Quantity'] / df['Current Stock Level'].replace(0, 1)  # Avoid division by zero
df['Average Sale Price'] = df['Sales Revenue'] / df['Sales Quantity'].replace(0, 1)  # Avoid division by zero

# Display the updated DataFrame
print(df[['Item Code', 'Sales Quantity', 'Current Stock Level', 'Sales Revenue', 'Stock Turnover Rate', 'Average Sale Price']])

  Item Code  Sales Quantity  Current Stock Level  Sales Revenue  \
0       AC1               2                    2          10000
1   OP-11-S               7                    0          68250
2   OP-14-S               3                    3          29250
3      WT22              23                    4          12029
4      CS04              14                    2         161700

   Stock Turnover Rate  Average Sale Price
0                 1.00              5000.0
1                 7.00              9750.0
2                 1.00              9750.0
3                 5.75               523.0
4                 7.00             11550.0

In [113]:
print(df)

   S.No Item Code                                    Item Name     Group  \
0     1       AC1                              AIR CONDITIONER   Primary
1     2   OP-11-S  BATHSENSE OP-11-S SINGLE PIECE S TRAP 220MM  SANITARY
2     3   OP-14-S  BATHSENSE OP-14-S SINGLE PIECE S TRAP 225MM  SANITARY
3     4      WT22                                  BOTTLE TRAP        CP
4     5      CS04             CARYSIL BIG BOWL SINK NERA 24x18  SANITARY

       Brand     Model    MRP  Net Sal Qty  Close Qty  Close Val  \
0    Primary   Primary   5000            2          2       0.00
1    ESS ESS   Primary   9750            7          0    1195.20
2    ESS ESS   Primary   9750            3          3       0.00
3  WATER-TEC   Primary    523           23          4    1195.20
4    CARYSIL  BIG BOWL  11550           14          2   12712.02

   Sales Quantity  Current Stock Level  Sales Revenue  Stock Turnover Rate  \
0               2                    2          10000                 1.00
1               7                    0          68250                 7.00
2               3                    3          29250                 1.00
3              23                    4          12029                 5.75
4              14                    2         161700                 7.00

   Average Sale Price
0              5000.0
1              9750.0
2              9750.0
3               523.0
4             11550.0

In [114]:
df_encoded = pd.get_dummies(df, columns=['Group', 'Brand', 'Model'], drop_first=True)

In [115]:
X = df_encoded.drop(['Sales Quantity', 'Sales Revenue', 'S.No', 'Item Code', 'Item Name'], axis=1)
y = df_encoded['Sales Quantity']

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [117]:
model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [118]:
y_pred = model.predict(X_test)

In [119]:
mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)

/lib/python3.12/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [120]:
print(f'Mean Absolute Error: {mae}, Root Mean Squared Error: {rmse}')

Mean Absolute Error: 2.7200000000000006, Root Mean Squared Error: 2.7200000000000006

In [121]:
from sklearn.preprocessing import OneHotEncoder
def predict_revenue(input_data, encoder, model):
    # Prepare the features for prediction
    # Only include necessary columns for prediction
    features = ['Net Sal Qty', 'MRP', 'Close Qty', 'Close Val', 'Item Code', 'Group', 'Brand']
    
    # Extract the relevant features
    X_new = input_data[features]
    
    # Perform one-hot encoding for categorical features using the fitted encoder
    X_new_encoded = encoder.transform(X_new[['Item Code', 'Group', 'Brand']])
    
    # Combine with numerical features
    X_new_final = np.hstack((X_new[['Net Sal Qty', 'MRP', 'Close Qty', 'Close Val']].values, X_new_encoded))
    
    # Ensure X_new_final has the same number of features as the model expects
    if X_new_final.shape[1] != model.n_features_in_:
        raise ValueError(f"Expected {model.n_features_in_} features but got {X_new_final.shape[1]}.")
    
    # Make predictions using the trained model
    predictions = model.predict(X_new_final)
    
    # Add predictions to the input DataFrame
    input_data['Predicted Revenue'] = predictions
    
    return input_data

In [122]:
# Sample data for prediction with only the necessary columns
new_data = {
    'S.No': [1, 2, 3, 4, 5],
    'Item Code': ['AC1', 'OP-11-S', 'OP-14-S', 'WT22', 'CS04'],
    'Group': ['Primary', 'SANITARY', 'SANITARY', 'CP', 'SANITARY'],
    'Brand': ['Primary', 'ESS ESS', 'ESS ESS', 'WATER-TEC', 'CARYSIL'],
    'MRP': [5000, 9750, 9750, 523, 11550],
    'Net Sal Qty': [2, 7, 3, 23, 14],
    'Close Qty': [2, 0, 3, 4, 2],
    'Close Val': [0, 1195.2, 0, 1195.2, 12712.02],
}

# Create a DataFrame
df_new = pd.DataFrame(new_data)

# Run predictions using the fitted encoder
predicted_results = predict_revenue(df_new, encoder, model)

# Display the results
print(predicted_results[['Item Code', 'Predicted Revenue']])

<class 'NameError'>: name 'encoder' is not defined